[submodule "third-party/gperftools"]
	path = third-party/gperftools
	url = https://github.com/gperftools/gperftools.git
[submodule "third-party/cereal"]
	path = third-party/cereal
	url = https://github.com/openfheorg/cereal.git
[submodule "third-party/intel-hexl"]
	path = third-party/intel-hexl/checkout
	url = https://github.com/intel/hexl.git
